@font-face {
  font-family: "Open Sans Condensed";
  src: url("./fonts/OpenSansCondensed-Light.ttf");
}

#message {
  position: absolute;
  display: flex;
  color: #00ffa6;
  top: 5px;
  width: 100%;
  justify-content: center;
  font-family: "Open Sans Condensed";
  font-size: x-large;
}

body {
  background-color: #06080f;
  margin: 0;
  padding: 0;
}

#wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.row {
  
  width: 100%;
  background: linear-gradient(180deg, 
    #06080f calc(50% - 1px), 
    #00ffa6 calc(50%), 
    #06080f calc(50% + 1px)
    );
  display: flex;
  justify-content: center;
  margin-top: 5px;
}

.wide-row {
  background: linear-gradient(180deg, 
    #06080f calc(50% - 1px), 
    #ff0059 calc(50%), 
    #06080f calc(50% + 1px)
    );  
}

.wide-row .content {
  background: #ff0059;  
}


.content {
  height: 100%;
  margin: 0 10px;
  width: 150px;
  position: relative; 
  background: #00ffa6;
}

.grad {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, #00ffa6, #b700ff, #00ffa6);
  opacity: 0;
  transition: opacity .5s ease-in-out;
  z-index: 9;
}

.wide-row .grad {
  background: linear-gradient(90deg, #ff0059, #b700ff, #ff0059);
}

.switcher {
  height: 10px;
  width: 100%;
  top: 31px;
  position: absolute;
  z-index: 15;
}


.wide {
  width: 1000px;
}

.canvas {
  width: 100%;
  z-index: 10;
  position: relative;
}

.wide .canvas {
  height: 100px;
}

.wide .switcher {
  top: 44px;
}

#welcome {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: #06080f;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

#welcome_button {
  width: 250px;
}

.button {
  border:0;
  outline:none;
  border-radius:0;
  padding:15px 0;
  font-size:2rem;
  font-weight:bold;
  text-transform:uppercase;
  letter-spacing: 0.1em;
  background: none;
  color: #00ffa6;
  position: relative;
  overflow: hidden;
  
  -webkit-appearance: none;
}

.glow:hover {
  background: #01ac70;
  transition:all 0.5s ease;
  color: #00ffa6;
  box-shadow: 0 0 10px #01ac70, 0 0 40px #01ac70, 0 0 80px #01ac70;
}

.button span {
  position: absolute;
  display: block;
}

@keyframes l1 {
  from {
    left: -100%;  
  }
  to {
    left: 100%;
  }
}

@keyframes l2 {
  from {
    top: -100%;  
  }
  to {
    top: 100%;
  }
}

@keyframes l3 {
  from {
    right: -100%;  
  }
  to {
    right: 100%;
  }
}

@keyframes l4 {
  from {
    bottom: -100%;  
  }
  to {
    bottom: 100%;
  }
}

.button span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #01ac70);
  animation-duration: 1s;
  animation-name: l1;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-direction: normal;
}

.button span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, #01ac70, transparent);
  animation-duration: 1s;
  animation-name: l3;
  animation-delay: 0.5s;
  animation-iteration-count: infinite;
  animation-direction: normal;
}

.button span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(0deg, #01ac70, transparent);
  animation-duration: 1s;
  animation-name: l2;
  animation-delay: 0.25s;
  animation-iteration-count: infinite;
  animation-direction: normal;
}

.button span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, #01ac70, transparent);
  animation-duration: 1s;
  animation-name: l4;
  animation-delay: 0.75s;
  animation-iteration-count: infinite;
  animation-direction: normal;
}


