body {
  background-color: #06080f;
  margin: 0;
  padding: 0;
}

#wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.row {
  width: 100%;
  background: linear-gradient(180deg, 
    #06080f calc(50% - 1px), 
    #00ffa6 calc(50%), 
    #06080f calc(50% + 1px)
    );
  display: flex;
  justify-content: center;
  margin-top: 5px;
}

.content {
  height: 100%;
  margin: 0 10px;
  width: 150px;
  
}

.wide {
  width: 1000px;
}

.canvas {
  width: 100%;
}

.wide .canvas {
  height: 100px;
}

#welcome {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: #06080f;
  display: flex;
  justify-content: center;
  align-items: center;
}

#welcome_button {
  width: 150px;
}

.button {
  border:0;
  outline:none;
  border-radius:0;
  padding:15px 0;
  font-size:2rem;
  font-weight:bold;
  text-transform:uppercase;
  letter-spacing: 0.1em;
  background: #00ffa6;
  color: white;
  transition:all 0.5s ease;
  -webkit-appearance: none;

}

.button:hover, .button:focus {
  background: #b700ff;
}

