* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 0;
}

body {
  line-height: 1.5;
  font-family: 'Lato';
  overflow-x: hidden;
  margin: 0;
}

h1, h2, h3, p {
  font-weight: 300;
  margin: 0 0 2.4rem 0;
}

h1, h2, h3 {
  line-height: 1.3;
}

a {
  text-decoration: none;
  color: inherit;
  font-weight: 400;
}

.modal {
  will-change: visibility, opacity;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow-x: hidden;
  overflow-y: auto;
  z-index: 1000;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
  transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
}

.modal--active {
  visibility: visible;
  opacity: 1;
}

.modal--align-top {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.modal__bg {
  background: transparent;
}

.modal__dialog {
  max-width: 100VW;
  height: 100%;
}

.modal__content {
  will-change: transform, opacity, background-color;
  position: relative;
  padding: 2.4rem;
  background-color: #212F3D;
  background-clip: padding-box;
  -webkit-box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.25);
          box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.25);
  z-index: 1001;
  height: 100vh;
  -webkit-transition: background-color .3s ease-out;
  transition: background-color .3s ease-out;
}

.modal__content--active {
  opacity: 1;
  background-color: #ffebee;
}

.modal__close {
  z-index: 1002;
  cursor: pointer;
}

.modal__trigger {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  color: rgba(0, 0, 0, 0.7);
  line-height: 1;
  cursor: pointer;
  background: #212F3D;
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
          box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
  transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
}

.modal__trigger img {
  height: 100%;
  width: 100%;
  -webkit-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
  position: absolute;
  pointer-events: none;
}

.modal__trigger--active {
  z-index: 10;
}

.modal__trigger:hover {
  background: #1e2a37;
}

.modal__trigger:hover img {
  opacity: 0.1;
}

.modal__trigger:hover h1 {
  opacity: 1;
}

.modal__trigger h1 {
  position: relative;
  font-family: 'Montserrat', Arial, sans-serif;
  font-size: calc(20px + 5vw);
  font-weight: 700;
  color: #fff;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  text-shadow: 0 0 0.15em #1da9cc;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  white-space: nowrap;
  -webkit-filter: blur(0.007em);
          filter: blur(0.007em);
  -webkit-animation: shake 2.5s linear forwards;
          animation: shake 2.5s linear forwards;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  pointer-events: none;
  opacity: 0;
  -webkit-transition: opacity .3s ease-in-out;
  transition: opacity .3s ease-in-out;
}

.modal__trigger h1 span {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-clip-path: polygon(10% 0%, 44% 0%, 70% 100%, 55% 100%);
  -webkit-clip-path-clip-path: polygon(10% 0%, 44% 0%, 70% 100%, 55% 100%);
}

.modal__trigger h1::before, .modal__trigger h1::after {
  content: attr(data-text);
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  top: 0;
  left: 0;
}

.modal__trigger h1::before {
  -webkit-clip-path: polygon(0% 0%, 10% 0%, 55% 100%, 0% 100%);
  -webkit-clip-path-clip-path: polygon(0% 0%, 10% 0%, 55% 100%, 0% 100%);
}

.modal__trigger h1::after {
  -webkit-clip-path: polygon(44% 0%, 100% 0%, 100% 100%, 70% 100%);
  -webkit-clip-path-clip-path: polygon(44% 0%, 100% 0%, 100% 100%, 70% 100%);
}

.modal__trigger .anim::before {
  -webkit-animation: crack1 .5s;
          animation: crack1 .5s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
}

.modal__trigger .anim::after {
  -webkit-animation: crack2 .5s;
          animation: crack2 .5s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
}

@-webkit-keyframes shake {
  5%, 15%, 25%, 35%, 55%, 65%, 75%, 95% {
    -webkit-filter: blur(0.018em);
            filter: blur(0.018em);
    -webkit-transform: translateY(0.018em) rotate(-90deg);
            transform: translateY(0.018em) rotate(-90deg);
  }
  10%, 30%, 40%, 50%, 70%, 80%, 90% {
    -webkit-filter: blur(0.01em);
            filter: blur(0.01em);
    -webkit-transform: translateY(-0.018em) rotate(-90deg);
            transform: translateY(-0.018em) rotate(-90deg);
  }
  20%, 60% {
    -webkit-filter: blur(0.03em);
            filter: blur(0.03em);
    -webkit-transform: translate(-0.018em, 0.018em) rotate(-90deg);
            transform: translate(-0.018em, 0.018em) rotate(-90deg);
  }
  45%, 85% {
    -webkit-filter: blur(0.03em);
            filter: blur(0.03em);
    -webkit-transform: translate(0.018em, -0.018em) rotate(-90deg);
            transform: translate(0.018em, -0.018em) rotate(-90deg);
  }
  100% {
    -webkit-filter: blur(0.007em);
            filter: blur(0.007em);
    -webkit-transform: translate(0) rotate(-90deg);
            transform: translate(0) rotate(-90deg);
  }
}

@keyframes shake {
  5%, 15%, 25%, 35%, 55%, 65%, 75%, 95% {
    -webkit-filter: blur(0.018em);
            filter: blur(0.018em);
    -webkit-transform: translateY(0.018em) rotate(-90deg);
            transform: translateY(0.018em) rotate(-90deg);
  }
  10%, 30%, 40%, 50%, 70%, 80%, 90% {
    -webkit-filter: blur(0.01em);
            filter: blur(0.01em);
    -webkit-transform: translateY(-0.018em) rotate(-90deg);
            transform: translateY(-0.018em) rotate(-90deg);
  }
  20%, 60% {
    -webkit-filter: blur(0.03em);
            filter: blur(0.03em);
    -webkit-transform: translate(-0.018em, 0.018em) rotate(-90deg);
            transform: translate(-0.018em, 0.018em) rotate(-90deg);
  }
  45%, 85% {
    -webkit-filter: blur(0.03em);
            filter: blur(0.03em);
    -webkit-transform: translate(0.018em, -0.018em) rotate(-90deg);
            transform: translate(0.018em, -0.018em) rotate(-90deg);
  }
  100% {
    -webkit-filter: blur(0.007em);
            filter: blur(0.007em);
    -webkit-transform: translate(0) rotate(-90deg);
            transform: translate(0) rotate(-90deg);
  }
}

@-webkit-keyframes crack1 {
  0% {
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  100% {
    -webkit-transform: translate(-51%, -48%);
            transform: translate(-51%, -48%);
  }
}

@keyframes crack1 {
  0% {
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  100% {
    -webkit-transform: translate(-51%, -48%);
            transform: translate(-51%, -48%);
  }
}

@-webkit-keyframes crack2 {
  0% {
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  100% {
    -webkit-transform: translate(-49%, -53%);
            transform: translate(-49%, -53%);
  }
}

@keyframes crack2 {
  0% {
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  100% {
    -webkit-transform: translate(-49%, -53%);
            transform: translate(-49%, -53%);
  }
}

#modal__temp {
  will-change: transform, opacity;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #212F3D;
  -webkit-transform: none;
          transform: none;
  opacity: 1;
  -webkit-transition: opacity 0.1s ease-out, -webkit-transform 0.5s cubic-bezier(0.23, 1, 0.32, 1);
  transition: opacity 0.1s ease-out, -webkit-transform 0.5s cubic-bezier(0.23, 1, 0.32, 1);
  transition: opacity 0.1s ease-out, transform 0.5s cubic-bezier(0.23, 1, 0.32, 1);
  transition: opacity 0.1s ease-out, transform 0.5s cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 0.5s cubic-bezier(0.23, 1, 0.32, 1);
}

body {
  height: 100vh;
  background: #566573;
}

img {
  max-width: 100%;
}

.harmonics {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.harmonics .filler {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.harmonics .filler p {
  color: white;
  font-size: large;
  font-weight: 800;
}

.demo-close {
  position: absolute;
  top: 0;
  right: 0;
  margin: 1.2rem;
  padding: 0.6rem;
  background: rgba(0, 0, 0, 0.3);
  border-radius: 50%;
  -webkit-transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
  transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
}

.demo-close svg {
  width: 24px;
  fill: white;
  pointer-events: none;
  vertical-align: top;
}

.demo-close:hover {
  background: rbga(black, 0.6);
}

.logo {
  position: fixed;
  bottom: 3vh;
  right: 3vw;
  z-index: 2;
}

.logo img {
  width: 45px;
  -webkit-transform: rotate(0);
          transform: rotate(0);
  -webkit-transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
  transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
}

.logo img:hover {
  -webkit-transform: rotate(180deg) scale(1.1);
          transform: rotate(180deg) scale(1.1);
}

#filler1,
#filler2,
#filler3,
#filler4 {
  background-image: url("./assets/FON.gif");
  background-size: cover;
}

#preloader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99999;
  background-color: #171717;
  width: 100vw;
  height: 100vh;
  -webkit-transition: opacity 3.5s;
  transition: opacity 3.5s;
  opacity: 1;
}

.loading {
  color: #fff;
  font-family: Consolas, monospace;
  font-size: 14px;
  text-transform: uppercase;
}

.loading.loading--glitch {
  -webkit-animation: f .5s linear infinite,g 2s linear infinite;
          animation: f .5s linear infinite,g 2s linear infinite;
  letter-spacing: 0.5em;
}

.loading.loading--glitch:before, .loading.loading--glitch:after {
  text-align: center;
  content: attr(data-title);
  position: absolute;
  margin: auto;
  overflow: hidden;
  clip: rect(0, 900px, 0 0);
}

.loading.loading--glitch:before {
  text-shadow: 2px 0 blue;
  left: calc( 50% - 50px);
  color: skyblue;
  animation: b 1s infinite linear alternate-reverse;
}

.loading.loading--glitch:after {
  top: -2px;
  font-size: 15px;
  color: red;
  left: calc(50% - 52px);
  text-shadow: -2px 0 red;
  animation: a 1s infinite linear alternate-reverse;
}

.loading.loading--glitch.loading--animation {
  opacity: 0;
  -webkit-animation: shown 0s linear 1.5s forwards;
          animation: shown 0s linear 1.5s forwards;
  margin-left: -30px;
}

.loading.loading--typing {
  border-right: .1em solid;
  text-transform: none;
  width: 13ch;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  -webkit-animation: typing 1s steps(13, end), blink-caret 0.5s step-end infinite alternate, hiden 0s linear 1.3s forwards;
          animation: typing 1s steps(13, end), blink-caret 0.5s step-end infinite alternate, hiden 0s linear 1.3s forwards;
}

.loading.loading--center {
  position: absolute;
  top: 50%;
  left: calc(50% - 50px);
  margin: 0;
}

.loading.loading--center.loading--typing {
  left: calc(50% - 80px);
}

@-webkit-keyframes shown {
  to {
    opacity: 1;
  }
}

@keyframes shown {
  to {
    opacity: 1;
  }
}

@-webkit-keyframes hiden {
  to {
    opacity: 0;
  }
}

@keyframes hiden {
  to {
    opacity: 0;
  }
}

@-webkit-keyframes typing {
  from {
    width: 0;
  }
}

@keyframes typing {
  from {
    width: 0;
  }
}

@-webkit-keyframes blink-caret {
  50% {
    border-color: transparent;
  }
}

@keyframes blink-caret {
  50% {
    border-color: transparent;
  }
}

@-webkit-keyframes f {
  0%, 3%, 4.3%, 5%, 42%, 44%, 88%, 90%, 92%, to {
    opacity: 1;
  }
  90% {
    -webkit-transform: translate(-2px);
    transform: translate(-2px);
  }
  43% {
    opacity: 0;
  }
}

@keyframes f {
  0%, 3%, 4.3%, 5%, 42%, 44%, 88%, 90%, 92%, to {
    opacity: 1;
  }
  90% {
    -webkit-transform: translate(-2px);
    transform: translate(-2px);
  }
  43% {
    opacity: 0;
  }
}

@-webkit-keyframes g {
  40% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform: skew(0, 0);
    transform: skew(0, 0);
  }
  41% {
    transform: scaleY(1.2);
    -webkit-transform: skew(50deg, 0);
    transform: skew(50deg, 0);
  }
  41%, 42% {
    opacity: .8;
    -webkit-transform: scaleY(1.2);
  }
  42% {
    transform: scaleY(1.2);
    -webkit-transform: skew(-80deg, 0);
    transform: skew(-80deg, 0);
  }
  43% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform: skew(0, 0);
    transform: skew(0, 0);
  }
}

@keyframes g {
  40% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform: skew(0, 0);
    transform: skew(0, 0);
  }
  41% {
    transform: scaleY(1.2);
    -webkit-transform: skew(50deg, 0);
    transform: skew(50deg, 0);
  }
  41%, 42% {
    opacity: .8;
    -webkit-transform: scaleY(1.2);
  }
  42% {
    transform: scaleY(1.2);
    -webkit-transform: skew(-80deg, 0);
    transform: skew(-80deg, 0);
  }
  43% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform: skew(0, 0);
    transform: skew(0, 0);
  }
}

@-webkit-keyframes b {
  0% {
    clip: rect(80px, 9999px, 29px, 0);
  }
  5% {
    clip: rect(70px, 9999px, 93px, 0);
  }
  10% {
    clip: rect(95px, 9999px, 37px, 0);
  }
  15% {
    clip: rect(57px, 9999px, 78px, 0);
  }
  20% {
    clip: rect(8px, 9999px, 13px, 0);
  }
  25% {
    clip: rect(41px, 9999px, 35px, 0);
  }
  30% {
    clip: rect(58px, 9999px, 10px, 0);
  }
  35% {
    clip: rect(36px, 9999px, 89px, 0);
  }
  40% {
    clip: rect(91px, 9999px, 33px, 0);
  }
  45% {
    clip: rect(19px, 9999px, 48px, 0);
  }
  50% {
    clip: rect(11px, 9999px, 58px, 0);
  }
  55% {
    clip: rect(8px, 9999px, 58px, 0);
  }
  60% {
    clip: rect(26px, 9999px, 47px, 0);
  }
  65% {
    clip: rect(69px, 9999px, 73px, 0);
  }
  70% {
    clip: rect(74px, 9999px, 42px, 0);
  }
  75% {
    clip: rect(95px, 9999px, 96px, 0);
  }
  80% {
    clip: rect(51px, 9999px, 91px, 0);
  }
  85% {
    clip: rect(56px, 9999px, 17px, 0);
  }
  90% {
    clip: rect(48px, 9999px, 11px, 0);
  }
  95% {
    clip: rect(89px, 9999px, 98px, 0);
  }
  to {
    clip: rect(69px, 9999px, 63px, 0);
  }
}

@keyframes b {
  0% {
    clip: rect(80px, 9999px, 29px, 0);
  }
  5% {
    clip: rect(70px, 9999px, 93px, 0);
  }
  10% {
    clip: rect(95px, 9999px, 37px, 0);
  }
  15% {
    clip: rect(57px, 9999px, 78px, 0);
  }
  20% {
    clip: rect(8px, 9999px, 13px, 0);
  }
  25% {
    clip: rect(41px, 9999px, 35px, 0);
  }
  30% {
    clip: rect(58px, 9999px, 10px, 0);
  }
  35% {
    clip: rect(36px, 9999px, 89px, 0);
  }
  40% {
    clip: rect(91px, 9999px, 33px, 0);
  }
  45% {
    clip: rect(19px, 9999px, 48px, 0);
  }
  50% {
    clip: rect(11px, 9999px, 58px, 0);
  }
  55% {
    clip: rect(8px, 9999px, 58px, 0);
  }
  60% {
    clip: rect(26px, 9999px, 47px, 0);
  }
  65% {
    clip: rect(69px, 9999px, 73px, 0);
  }
  70% {
    clip: rect(74px, 9999px, 42px, 0);
  }
  75% {
    clip: rect(95px, 9999px, 96px, 0);
  }
  80% {
    clip: rect(51px, 9999px, 91px, 0);
  }
  85% {
    clip: rect(56px, 9999px, 17px, 0);
  }
  90% {
    clip: rect(48px, 9999px, 11px, 0);
  }
  95% {
    clip: rect(89px, 9999px, 98px, 0);
  }
  to {
    clip: rect(69px, 9999px, 63px, 0);
  }
}

@-webkit-keyframes a {
  0% {
    clip: rect(30px, 9999px, 6px, 0);
  }
  5% {
    clip: rect(27px, 9999px, 30px, 0);
  }
  10% {
    clip: rect(6px, 9999px, 20px, 0);
  }
  15% {
    clip: rect(11px, 9999px, 8px, 0);
  }
  20% {
    clip: rect(23px, 9999px, 18px, 0);
  }
  25% {
    clip: rect(34px, 9999px, 25px, 0);
  }
  30% {
    clip: rect(19px, 9999px, 24px, 0);
  }
  35% {
    clip: rect(30px, 9999px, 20px, 0);
  }
  40% {
    clip: rect(24px, 9999px, 22px, 0);
  }
  45% {
    clip: rect(31px, 9999px, 9px, 0);
  }
  50% {
    clip: rect(47px, 9999px, 45px, 0);
  }
  55% {
    clip: rect(5px, 9999px, 6px, 0);
  }
  60% {
    clip: rect(10px, 9999px, 34px, 0);
  }
  65% {
    clip: rect(21px, 9999px, 33px, 0);
  }
  70% {
    clip: rect(19px, 9999px, 31px, 0);
  }
  75% {
    clip: rect(26px, 9999px, 44px, 0);
  }
  80% {
    clip: rect(34px, 9999px, 38px, 0);
  }
  85% {
    clip: rect(45px, 9999px, 40px, 0);
  }
  90% {
    clip: rect(6px, 9999px, 5px, 0);
  }
  95% {
    clip: rect(14px, 9999px, 87px, 0);
  }
  to {
    clip: rect(4px, 9999px, 58px, 0);
  }
}

@keyframes a {
  0% {
    clip: rect(30px, 9999px, 6px, 0);
  }
  5% {
    clip: rect(27px, 9999px, 30px, 0);
  }
  10% {
    clip: rect(6px, 9999px, 20px, 0);
  }
  15% {
    clip: rect(11px, 9999px, 8px, 0);
  }
  20% {
    clip: rect(23px, 9999px, 18px, 0);
  }
  25% {
    clip: rect(34px, 9999px, 25px, 0);
  }
  30% {
    clip: rect(19px, 9999px, 24px, 0);
  }
  35% {
    clip: rect(30px, 9999px, 20px, 0);
  }
  40% {
    clip: rect(24px, 9999px, 22px, 0);
  }
  45% {
    clip: rect(31px, 9999px, 9px, 0);
  }
  50% {
    clip: rect(47px, 9999px, 45px, 0);
  }
  55% {
    clip: rect(5px, 9999px, 6px, 0);
  }
  60% {
    clip: rect(10px, 9999px, 34px, 0);
  }
  65% {
    clip: rect(21px, 9999px, 33px, 0);
  }
  70% {
    clip: rect(19px, 9999px, 31px, 0);
  }
  75% {
    clip: rect(26px, 9999px, 44px, 0);
  }
  80% {
    clip: rect(34px, 9999px, 38px, 0);
  }
  85% {
    clip: rect(45px, 9999px, 40px, 0);
  }
  90% {
    clip: rect(6px, 9999px, 5px, 0);
  }
  95% {
    clip: rect(14px, 9999px, 87px, 0);
  }
  to {
    clip: rect(4px, 9999px, 58px, 0);
  }
}
/*# sourceMappingURL=index.css.map */